

.about-card-one {
  border-bottom: 2px solid #2c98f0;
  padding: 2.5rem 0px;
}
.about-card-one i {
  color: #2c98f0;
  margin-left: 40px;
}
.about-card-two {
  border-bottom: 2px solid #ec5453;
  padding: 2.5rem 0px;
}
.about-card-two i {
  color: #ec5453;
  margin-left: 40px;
}
.about-card-three {
  border-bottom: 2px solid #f9bf3f;
  padding: 2.5rem 0px;
}
.about-card-three i {
  color: #f9bf3f;
  margin-left: 50px;
}
.about-card-four {
  border-bottom: 2px solid #a84cb8;
  padding: 2.5rem 0px;
}
.about-card-four i {
  color: #a84cb8;
  margin-left: 50px;
}
